:host {
  display: block;
}

.title-new-contact {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 24px;
}
.label-name,
.label-phone {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.button-submit {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(3, 127, 209);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: rgb(120, 185, 247);
}
