.menu-icon.active {
  color: #091140; /* azul Angular / el que quieras */
}

.section-menu-footer {
  height: 60px;
  background-color: rgb(228, 228, 228);
  padding: 10px 0;
}

.section-menu-footer nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-icon {
  font-size: 55px;
  width: 55px;
  height: 55px;
}

.icons-actions {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.menu-icon {
  color: #807e7e9a; /* color base */
  transition: color 0.2s ease;
}

a:focus-visible {
  outline: none;
}
