.add-task-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.add-task-full-width {
  width: 100%;
}

textarea {
  resize: none;
}

.div-btn-submit {
  text-align: center;
}

.div-btn-submit button {
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(43, 180, 230);
  color: white;
  width: 150px;
  height: 50px;
  font-size: 18px;
  margin-top: 50px;
}
